/*
Solarized theme for code-mirror
http://ethanschoonover.com/solarized
*/

/*
Solarized color pallet
http://ethanschoonover.com/solarized/img/solarized-palette.png
*/

@import "./colors";

.editor {

  /* Color scheme for code-mirror */

  .CodeMirror {
    color-profile: sRGB;
    rendering-intent: auto;
    background-color: @base3;
    color: @base00;
    text-shadow: @base2 0 1px;

    .CodeMirror-widget {
      text-shadow: none;
    }

    .cm-header { color: @base01; }
    .cm-quote { color: @base1; font-style: italic; }

    .cm-keyword, .cm-formatting-list.cm-variable-2 { color: @solar-orange; }
    .cm-atom, .cm-formatting-list.cm-variable-3 { color: @solar-magenta; }
    .cm-number { color: @solar-magenta; }
    .cm-def { color: @solar-cyan; }

    .cm-variable { color: @base0; }
    .cm-variable-2 { color: @solar-yellow; }
    .cm-variable-3 { color: @solar-violet; }

    .cm-property { color: @solar-cyan; }
    .cm-operator { color: @solar-violet; }

    .cm-comment { color: @base01; font-style:italic; }

    .cm-string { color: @solar-green; }
    .cm-string-2 { color: @solar-yellow; }

    .cm-meta { color: @solar-green; }
    .cm-qualifier { color: @solar-yellow; }
    .cm-builtin { color: @solar-magenta; }
    .cm-bracket { color: @solar-orange; }
    .CodeMirror-matchingbracket { color: @solar-green; }
    .CodeMirror-nonmatchingbracket { color: @solar-red; }
    .cm-tag { color: @base1; }
    .cm-attribute { color: @solar-cyan; }
    /*
    .cm-hr {
      color: transparent;
      border-top: 1px solid @base01;
      display: block;
    }
    */
    .cm-hr { color: @solar-yellow; }
    .cm-link, .cm-url {
      color: @solar-cyan;
      text-underline-position: under;
    }
    .cm-special { color: @solar-violet; }
    .cm-em {
      color: #999;
    }
    .cm-strong { font-weight: bold; }
    .cm-error,
    .cm-invalidchar {
      color: @base01;
      border-bottom: 1px dotted @solar-red;
    }
    .cm-whitespace::before {
      color: @base01;
      opacity: 0.4;
    }
    // carriage return
    .CodeMirror-code > div > pre > span::after, .CodeMirror-line > span::after {
      color: @base01;
      opacity: 0.4;
    }

    .cm-inline-code {
      background: rgba(0, 0, 0, 0.04);
      color: @base02;
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(0, 0, 0, 0.02);
    }

    .cm-table-sep, .table-row.table-row-1 {
      color: @solar-magenta;
    }
  }

  .CodeMirror div.CodeMirror-selected { background: @base2; }
  .CodeMirror .CodeMirror-line::selection,  .CodeMirror-line > span::selection,  .CodeMirror-line > span > span::selection { background: @base2; }
  .CodeMirror .CodeMirror-line::-moz-selection, .cm-s-ligh .CodeMirror-line > span::-moz-selection, .cm-s-ligh .CodeMirror-line > span > span::-moz-selection { background: @base2; }

  /* Editor styling */



  /* Little shadow on the view-port of the buffer view */
  .CodeMirror {
    -moz-box-shadow: inset 7px 0 12px -6px #000;
    -webkit-box-shadow: inset 7px 0 12px -6px #000;
    box-shadow: inset 7px 0 12px -6px #000;
  }

  /* Gutter border and some shadow from it  */
  .CodeMirror .CodeMirror-gutters {
    border-right: 1px solid;
  }

  /* Gutter colors and line number styling based of color scheme (dark / light) */

  /* Light */
  .CodeMirror .CodeMirror-gutters {
    background-color: @base3;
    border-color: @base2;
  }

  /* Common */
  .CodeMirror .CodeMirror-linenumber {
    color: @base01;
    padding: 0 5px;
  }
  .CodeMirror .CodeMirror-guttermarker-subtle { color: @base01; }
  .CodeMirror .CodeMirror-guttermarker { color: @solar-orange; }

  .CodeMirror .CodeMirror-gutter .CodeMirror-gutter-text {
    color: @base01;
  }

  .CodeMirror .CodeMirror-cursor { border-left: 1px solid #819090; }

  /*
  Active line. Negative margin compensates left padding of the text in the
  view-port
  */

  .CodeMirror .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.10) !important;
  }
  .CodeMirror-activeline .CodeMirror-linenumber {
    background-color: @base00;
    color: @base2;
    text-shadow: none;
  }
  .cm-formatting-header {
    opacity: 0.3;
  }

  .CodeMirror .CodeMirror-linewidget img.inline-widget {
    background: rgba(0,0,0,0.05);
  }
}
